
@{
    ViewBag.Title = "Education";
}

<h2>Educational Qualifications</h2>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Degree</th>
            <th>Institution</th>
            <th>Pass Year</th>
            <th>Result</th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <td>BSc in CSE</td>
            <td>American International University-Bangladesh</td>
            <td>Present</td>
            <td>3.89/4.00</td>
        </tr>
        <tr>
            <td>HSC</td>
            <td>Notre Dame College, Dhaka</td>
            <td>2017</td>
            <td>5.00/5.00</td>
        </tr>
        <tr>
            <td>SSC</td>
            <td>Govt. Science College Attached High School</td>
            <td>2015</td>
            <td>5.00/5.00</td>
        </tr>
    </tbody>
</table>

