
@{
    ViewBag.Title = "Projects";
}

<h2>University Projects</h2>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Course Name</th>
            <th>Project</th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <td>Web Technologies</td>
            <td>Online Video Creator Review Platform(Y/TTV)</td>
        </tr>
        <tr>
            <td>Object Oriented Programming 2 (C#)</td>
            <td>Inventory Management System</td>
        </tr>
        <tr>
            <td>Object Oriented Programming (Java)</td>
            <td>Student Management System</td>
        </tr>
        <tr>
            <td>Computer Graphics</td>
            <td>Tertis Game</td>
        </tr>
    </tbody>
</table>

